/*__## шрифты__________
---------------------*/

@font-face {
	font-family: "Cuprum", sans-serif;
	src: url("../fonts/cuprum.ttf") format("truetype"),
	url("../fonts/cuprum.woff") format("woff"),
	url("../fonts/cuprum.woff2") format("woff2");

	font-weight: 400;
}

@font-face {
	font-family: "Cuprum", sans-serif;
	src: url("../fonts/cuprum-bold.ttf") format("truetype"),
	url("../fonts/cuprum-bold.woff") format("woff"),
	url("../fonts/cuprum-bold.woff2") format("woff2");

	font-weight: 700;
}

@font-face {
	font-family: "PTSans", sans-serif;
	src: url("..fonts/ptsans-regular.eot");
	src: url("..fonts/ptsans-regular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/ptsans-regular.ttf") format("truetype"),
	url("../fonts/ptsans-regular.woff") format("woff");

	font-weight: 400;
}

@font-face {
	font-family: "PTSans", sans-serif;
	src: url("..fonts/ptsansbold.eot");
	src: url("..fonts/ptsansbold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/ptsansbold.ttf") format("truetype"),
	url("../fonts/ptsansbold.woff") format("woff");

	font-weight: 700;
}



/*__## стили для тэгов_______
---------------------*/

body {
	font-family: "Cuprum", "Arial", sans-serif;
	font-weight: 400;
}

h2 {
	font-family: "Cuprum", "Arial", sans-serif;
	font-weight: 400;
	font-size: 30px;
	text-transform: uppercase;
}

h3 {
	font-family: "Cuprum", "Arial", sans-serif;
	font-weight: 400;
	font-size: 36px;
	text-transform: uppercase;
	color: #32425c;
}



/*__## общие стили_______
---------------------*/

.section {
	display: block;
	width: 100%;
	min-width: 940px;

	position: relative;
}

.section-inner {
	width: 940px;
	margin: 0 auto;
	position: relative;

	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix {
	content: "";

	display: table;
	clear: both;
}

.headline {
	width: 910px;
	height: 89px;
	margin-top: 53px;
	padding-left: 30px;
	vertical-align: middle;
	line-height: 89px;
	background-color: #f7f3ec;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 400;
	color: #32425c;
}

.headline .btn {
	position: absolute;
	top: 25px;
	right: 23px;
}

.btn {
	display: inline-block;
	height: 38px;
	min-width: 100px;
	padding: 0 50px;
	background-color: #ee3643;
	border-radius: 2px;
	font-size: 14px;
	line-height: 38px;
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
}



/*__## header___________
---------------------*/

.page-header {
	height: 320px;
	background-color: #f1f5f7;
}

.section-1 {
	background-color: #293449;
}

.header-top {
	/*min-height: 45px;*/
	color: #ffffff;
	font-size: 17px;
}

.search {
	display: block;
	float: left;
	width: 210px;
	min-height: 45px;
	margin-left: 270px;
	color: #ffffff;
}

.search label
.search input {
	display: block;
	float: left;
	font-size: 17px;
}

.header-top a {
	min-height: 45px;
	width: 150px;
	display: block;
	float: left;
	vertical-align: middle;
	text-decoration: none;
	color: #ffffff;
	line-height: 45px;
}

.logo {
	position: absolute;
	left: 0;
	top: 0;
	min-height: 45px;
	min-width: 220px;
	background-color: #ee3643;
	border-bottom: solid 5px #b72f38;
	color: #ffffff;
	font-size: 24px;
	text-align: center;
	vertical-align: middle;
	line-height: 45px;
	text-transform: uppercase;
}

.bookmarks-link
.cart-link {
	width: 140px;
}

.order-link {
	display: inline-block;
	float: right;
	width: 150px;
	background-color: #63a63e;
	text-align: center;
	vertical-align: middle;
	line-height: 45px;
}

.section-2 {
	height: 160px;
	padding-top: 45px;
}

.technomart-info {
	width: 190px;
	float: left;
	margin: 0 70px 0 50px;
	font-style: italic;
	line-height: 23px;
	font-size: 16px;
	color: #ee434f;
}

.contacts {
	display: block;
	float: left;
	width: 265px;
	margin-right: 40px;
	text-align: center;
	font-size: 14px;
	color: #32425c;
}

.call-us {
	display: block;
	height: 39px;
	width: 195px;
	border: solid 3px #ffffff;
	margin-bottom: 10px;
	padding-left: 70px;
	padding-right: 0;
	text-align: left;
	text-decoration: none;
	line-height: 39px;
	font-family: "Cuprum", sans-serif;
	font-size: 21px;
	color: #e9292a;
}

.login,
.register {
	display: inline-block;
	float: left;
	width: 150px;
	min-height: 45px;
	margin-left: 10px;
	/*padding: 0 25px;*/
	background-color: #ffffff;
	color: #000000;
	text-decoration: none;
	line-height: 45px;
	font-size: 21px;
	vertical-align: middle;
	text-align: center;
}

.login {
	margin-left: 40px;
	padding-left: 50px;
	text-align: left;
	width: 73px;
}

.main-menu {
	width: 940px;
	min-height: 55px;
	margin-top: 1px;
	background-color: #32425c;
	border-bottom: solid #293449 5px;
}

.main-menu li {
	display: inline-block;
	float: left;
	margin-right: 60px;
	text-decoration: none;
	list-style: none;
	white-space: nowrap;
}

.main-menu a {
	font-size: 17px;
	color: #ffffff;
	text-decoration: none;
	vertical-align: middle;
	line-height: 55px;
}



/*__## footer___________
---------------------*/

.page-footer {
	height: 300px;
	margin-top: 86px;
}

.footer-top-section {
	height: 193px;
	background-color: #32425c;
}

.footer-bottom-section {
	height: 107px;
	background-color: #293449;
}

.tech-info {
	position: relative;
}

.tech-info p {
	display: block;
	position: absolute;
	top: 65px;
	width: 330px;
	word-wrap: break-word;
	color: #ffffff;
	font-size: 18px;
	line-height: 24px;
}

.footer-nav li {
	display: inline-block;
	float: left;
	list-style: none;
	white-space: nowrap;
}

.footer-nav a {
	text-decoration: none;
	font-size: 18px;
	color: #ffffff;
}

.nav-gold a {
	color: #ffd180;
}

.nav-white,
.nav-gold {
	display: inline-block;
	margin-left: 50px;
}

.nav-white li {
	margin-right: 58px;
	margin-top: 10px;
}

.nav-gold li {
	margin-left: 25px;
	margin-right: 31px;
}

.nav-white li:last-child,
.nav-gold li:last-child {
	margin-right: 0;
}

.copyright {
	display: block;
	float: left;
	width: 240px;
	position: absolute;
	top: 37px;
	vertical-align: middle;
	color: #ffffff;
}

.social {
	display: block;
	float: left;
	margin-top: 35px;
	margin-left: 85px;
	width: 133px;
}

.social-btn {
	display: block;
	float: left;
	width: 41px;
	height: 41px;
	margin-right: 5px;
	border-radius: 50%;
	background-color: #212a3a;
}

.social-btn:last-child {
	margin-right: 0;
}

.mail,
.developer {
	display: block;
	float: left;
	color: #ffffff;
}

/*__## стили для index__
---------------------*/

.promo {
	padding-top: 60px;
	min-height: 410px;
}

.link {
	display :block;
	width: 300px;
	height: 125px;
	position: absolute;
	color: #ffffff;
}

.link b {
	display: block;
	margin: 24px 0 12px 24px;
	font-size: 24px;
}

.link a {
	width: 135px;
	height: 38px;
	display: inline-block;
	margin-left: 24px;
	background-color:rgba(0, 0, 0, 0.1);
	border-radius: 2px;
	line-height: 38px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	color: #ffffff;
}

.link a:active {
	width: 131px;
	height: 34px;
	line-height: 34px;
	border: solid 3px rgba(255, 255, 255, 0.1);
	border-radius: 0;
}

.link-1 {
	top: 0;
	left: 0;
	background-color: #f6b22d;
}

.link-2 {
	top: 0;
	left: 320px;
	background-color: #4aafde;
}

.link-3 {
	top: 0;
	left: 640px;
	background-color: #cc79d1;
}

.link-4 {
	top: 143px;
	left: 640px;
	background-color: #85d179;
}

.link-5 {
	top: 286px;
	left: 640px;
	background-color: #f6b22d;
}

.slider-1,
.slider-2 {
	list-style: none;
	position: absolute;
	top: 143px;
	left: 0;
}

.hide {
	display: none;
}

.slider-1 b,
.slider-2 b {
	position: absolute;
	top: 21px;
	left: 27px;
	text-transform: uppercase;
	font-size: 36px;
	font-weight: 700;
	color: #ffffff;
}

.slider-1 p,
.slider-2 p {
	position: absolute;
	top: 43px;
	left: 27px;
	font-family: "PTSans", sans-serif;
	font-size: 18px;
	color: #ffffff;
}

.item {
	display: block;
	float: left;
	width: 218px;
	height: 318px;
	margin-top: 20px;
	margin-right: 19px;
	margin-left: 0;
	border: 1px solid #e5e5e5;
}

.item:last-child {
	margin-right: 0;
}

.item b {
	display: block;
	margin: 0;
	text-align: center;
	font-family: "PTSans", sans-serif;
	font-size: 18px;
	word-wrap: break-word;
	font-weight: 700;
	line-height: 20px;
}

.item p {
	margin-top: 13px;
	font-family: "PTSans", sans-serif;
	font-size: 17px;
	font-weight: 700;
	text-align: center;
}

.cost-old {
	min-height: 18px;
	color: #999999;
	text-decoration: line-through;
	line-height: 18px;
}

.cost-new {
	position: relative;
	width: 140px;
	height: 38px;
	margin-left: 43px;
	color: #ffffff;
	background-color: #ee3643;
	border-radius: 2px 0 0 2px;
	vertical-align: middle;
	line-height: 38px;
}

.cost-new::after {
	content: "";
	position: absolute;
	right: -8px;
	border: 19px solid #ffffff;
	border-right-width: 0;
	border-left-color: #ee3643;
	border-top-color: #ffffff;
	border-bottom-color: #ffffff;
}

.brand {
	display: inline-block;
	width: 218px;
	height: 145px;
	margin-right: 15px;
	margin-top: 20px;
	padding: 0;
	border: 1px solid #e5e5e5;
	text-align: center;
	vertical-align: middle;
	line-height: 145px;
}

.brand:nth-child(4n+1) {
	margin-right: 0;
}

.brand img {
	text-align: center;
	vertical-align: middle;
}

.services {
	height: 522px;
	margin-top: 85px;
	background-color: #f2f6f8;
}

.services-inner {
	position: relative;
	padding-top: 48px;
}

.services-inner > span {
	display: block;
	width: 480px;
	word-wrap: break-word;
	font-family: "PTSans", sans-serif;
	font-size: 13px;
	line-height: 24px;
}

.buttons {
	display: block;
	float: left;
	width: 240px;
	margin-top: 70px;
}

.buttons .button {
	display: block;
	width: 240px;
	height: 59px;
	line-height: 59px;
	background-color: #32425c;
	border-bottom: 1px solid #293449;
	border-top: 1px solid #405069;

	font-family: "Cuprum", sans-serif;
	font-weight: 700;
	font-size: 21px;
	color: #ffffff;
	text-align: left;
	padding-left: 24px;
}

.buttons .button::active {
	background-color: #ffffff;
	color: #32425c;
	border: none;
}

.descriptions {
	display: block;
	float: left;

	height: 284px;
	width: 300px;
	margin-top: 240px;
	margin-left: 80px;
	margin-right: 0;
}

.description img {
	position: absolute;
	top: 262px;
	right: 0;
}